
<!-- <section class="wrapper_news wrapper  "  >
    <div class="container-fluid px-lg-5">
        <div class="row d-flex justify-content-center   px-lg-3  ">	 
            <div class="col-md-10 wrapper_about text-center">	
                <h2 class="wrapper_about_teme"><span class="border_blue"  ></span> Новости <span class="border_blue" ></span></h2>
                <p class="wrapper_about_text">	It is a long established fact that a reader will be distracted by the <br>readable content of a page when looking at its layout.  </p>			
            </div> 
            <div class="col-md-5   "   >
                <div class="row   no-gutters">
                    <div class="col-12 dispaly_none ">
                        <div class="wrap_news_box bottom15">

                            <img src="assets/images/Img/4a.png" class="img-fluid " alt="">
                        </div> 
                    </div>	
                    <div class="col-12">
                        <div class="wrap_news_box bottom15">
                            <iframe id="video"  style="min-height: 340px;"   class="w-100" src="https://www.youtube.com/embed/ZmmLw5N3Xjk" frameborder="0" allowfullscreen></iframe>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="col-md-7 "  >
                <div class="row ">
                    <div class="col-12 dispaly_none">
                        <div class="wrap_news_box bottom15 ">
                            <iframe id="video"  style="min-height: 437px;"   class="w-100" src="https://www.youtube.com/embed/MtaoWM_y980" frameborder="0" allowfullscreen></iframe>
                        </div> 
                    </div>
                    <div class="col-6 ">
                        <div class="wrap_news_box bottom15">
                            <img src="assets/images/Img/9a.png" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="wrap_news_box bottom15">
                            <img src="assets/images/Img/9a.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</section> -->



<section class="wrapper_news wrapper  "  >
    <div class="container-fluid px-lg-5">
        <div class="row d-flex justify-content-center   px-lg-3  ">	 
            <div class="col-md-10 wrapper_about text-center">	
                <h2 class="wrapper_about_teme"><span class="border_blue"  ></span> Новости <span class="border_blue" ></span></h2>
                <p class="wrapper_about_text">	It is a long established fact that a reader will be distracted by the <br>readable content of a page when looking at its layout.  </p>			
            </div> 
 
            <div class="col-md-4 "  >
                <div class="  bottom15 ">
                    <iframe id="video"  style="min-height: 220px;"   class="w-100" src="https://www.youtube.com/embed/MtaoWM_y980" frameborder="0" allowfullscreen></iframe>
                </div>  
            </div> 
            <div class="col-md-4 "  >
                <div class="  bottom15 ">
                    <iframe id="video"  style="min-height: 220px;"   class="w-100" src="https://www.youtube.com/embed/MtaoWM_y980" frameborder="0" allowfullscreen></iframe>
                </div>  
            </div> 
            <div class="col-md-4 "  >
                <div class="  bottom15 ">
                    <iframe id="video"  style="min-height: 220px;"   class="w-100" src="https://www.youtube.com/embed/MtaoWM_y980" frameborder="0" allowfullscreen></iframe>
                </div>  
            </div> 
            <div class="col-md-4   "   >  
                <figure class="snip1584"><img src="assets/images/Img/4a.png" alt="sample87"/>
                    <figcaption>
                      <h3>Burgundy Flemming</h3>
                      <h5>Advertising</h5>
                    </figcaption> 
                  </figure>
            </div>
            <div class="col-md-4   "   >  
                <figure class="snip1584 "><img src="assets/images/Img/4a.png" alt="sample119"/>
                    <figcaption>
                      <h3>Nigel Nigel</h3>
                      <h5>Sound &amp; Vision</h5>
                    </figcaption> 
                  </figure>
            </div>
            <div class="col-md-4   "   >  
                <figure class="snip1584"><img src="assets/images/Img/4a.png" alt="sample120"/>
                    <figcaption>
                      <h3>Caspian Bellevedere</h3>
                      <h5>Accounting</h5>
                    </figcaption> 
                  </figure>
            </div>
        </div>
    </div>
</section>