
 
  @media screen and (min-width: 992px) {
    .basket, .container {
      /* padding: 0 10px; */
    }
  }
  .ux-card {
    border: 1px solid #E8E8E8;
    background: #FCFCFC;
    padding: 20px;
    position: relative;
  }
  .ux-card:hover {
    cursor: pointer;
    border-color: #0072CE;
    background-color: #fff;
  }
  
  
 
  .product {
    color: #767676; 
    box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1);
    margin :0  5px  15px;
  }
  @media screen and (min-width: 992px) {
    .product { 
      box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.1);
      overflow: hidden;
    }
  }
 .remove-button , .like-button{
   border: 0;
   background-color: transparent;
 }
 .button-disconnect-card{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 0;
  font-size: 16px;
  outline: none;
  margin: 15px;
}
.product-actions{
  background-color:#FF7D0C;color:#fff;display: inline-block;padding:3px 10px;
}



@media only screen and (max-width : 360px) {
  .wrapper_about_teme {
      font-size: 1.2rem;
      padding-bottom: 10px;
  }
  }