<div class="row">
  <div class="col-lg-1">
  </div>


  <div class="col-lg-10">
    <mat-spinner *ngIf="!isLoad"></mat-spinner>
    <form [formGroup]='form' (submit)="onSave()" *ngIf="isLoad">
      <div class="row">
        <div class="col-lg-6">
          <mat-form-field appearance="outline">
            <mat-label>Name UZ</mat-label>
            <input matInput placeholder="Placeholder" formControlName="name_uz">
          </mat-form-field>
        </div>

        <div class="col-lg-6">
          <mat-form-field appearance="outline">
            <mat-label>Name Ru</mat-label>
            <input matInput placeholder="Name" formControlName="name_ru">
          </mat-form-field>
        </div>

        <br><br>
        <button type="submit" [disabled]="!form.valid" mat-flat-button color="primary">Add</button>

      </div>
    </form>


  </div>

  <div class="col-lg-1">
  </div>

</div>
