<section class="py-4 peyment">
    <div class="container">
            <div class="h3 text-darck  ">Оплата и Доставка Товара</div>
            <div class="h5 py-3">Способы оплаты</div>
            <ol type="number">
                <li>  Для того, чтобы оплатить товар, Вам нужно перейти в «Корзину» и выбрать тот товар, который Вы хотите купить.</li>
                <li>   После перехода в Корзину, откроется список товаров, которые Вы добавили. Далее, нажимаем кнопку «Оформить заказ».</li>
                <li>   В  окне, появится «Контактная информация» и «Способы доставки», которые Вам не обходимо заполнить. </li>
                <li>   Вы можете выбрать более подходящий для Вас способ оплаты:</li>
                <li> После заполнения всей информации нажимаем кнопку «Оформить заказ»</li>
            </ol>

            <div class="h5 py-3">Доставка</div>
            <p>При оформлении доставки курьером, Ваш товар будет доставлен по указанному адресу, который Вы ввели при регистрации на сайте «Olcha.uz». Доставка крупногабаритной техники со 2го этажа и выше предоставляется за отдельную плату. Мы рекомендуем Вам обратиться в наш колл-центр до оформления заказа, они рассчитают стоимость доставки до нужного этажа.</p>
            <p>Если Вам нужно изменить адрес доставки, то позвоните нам по номеру +998(71) 202-202-1 и сообщите свой код товара, дату, сумму и новый адрес доставки.</p>
            <p>Вы сможете изменить адрес доставки в течение часа после оформления заказа.</p>
            <p>В нашем интернет-магазине есть несколько способов получения заказанного товара:</p>


            <div class="h5 py-3">По регионам:</div>
            <ol style="number">
                <li>Стандартная. (Интернет магазин обязуется в течение 12 рабочих часов после подтверждения заказа, доставить Ваш товар по указанному адресу. Стоимость доставки является бесплатной в случае покупки товаров на сумму свыше 50 000 сум. А в случае меньше 50 000 сум стоимость  доставки – 10 000 сум).</li>
                <li>*Express. (Доставка в течение 4 рабочих часов. Стоимость express доставки – 20.000 сум.)</li>
            </ol>


            <div class="h5 py-3">По Ташкенту:</div>
            <p>Для регионов имеется стандартная доставка и опция самовывоза с «pick-up point». Наш курьер доставит Ваш заказ в течении 24-36 рабочих часов, а для Ургенча, Навои и Нукус доставка может занять до 48 часов.</p>
            <p>Если стоимость Вашего заказа превышает 500.000 сум, то доставка будет бесплатной.</p>
            <p>Покупки стоимостью до 500.000 сум будут доставляться по тарификации, указанной при оформлении заказа.</p>
            <p>В случае самовывоза с точки «pick-up point», Вы можете забрать свой товар в течении рабочего дня, с 9:00 до 18:00 по выбранному адресу при оформлении заказа.</p>
            <p>Также на дороге могут произойти форс-мажорные обстоятельства, такие, как поломка машины и т.д. В этом случае наш курьер в первую очередь предупредит Вас о задержке и доставит Ваш товар в кратчайшие сроки.</p>

        

            <div class="h5 py-3">Примечание!</div>
            <p>Если по адресу доставки есть какие-то ограничения на въезд, такие, как пропускная система или же платная стоянка, то Вам нужно будет позаботиться об этом. В ином случае мы доставим Ваш товар до платного или ограниченного места.</p>
            <p>Доставка по регионам осуществляется компаниями BTS Express Cargo Servis и Express Mail Universal (EMU), которые не работают в красные дни календаря.  Поэтому, в праздничные дни доставка товаров  в регионы РУз могут быть осуществлены с незначительной задержкой. </p>



    </div>
</section>
