 <section class="container">
    <div class="row">
        <div class="col-lg-8">

            <div class="blog-card">
                <div class=" p-3">
                    <h5 class="text-dark font-weight-bold">{{news.name_ru}}</h5>
                    <img src="{{news.image_original_name}}" class="img-fluid py-3" alt="">
                    <p class=" ">{{news.description_ru}}</p>
                </div>
            </div>

        </div>
        <div class="col-lg-4  ">
            <div class="	conard_wrap_works" style="margin: 15px 0; ">
                <h4 class="text-dark font-weight-bold" style="border-left:4px solid #007BFF;padding-left: 10px;line-height: 30px;">Система DAS будет  </h4>
                <div class="news-leftbox">
                    <div class="row d-flex align-items-center py-2    "  >
                        <div class="col-3 pr-0">
                            <img src="assets/images/Img/2a.png" class="img-fluid" alt="">
                        </div>
                        <div class="col-9 text-left">
                            <p class="h6 m-0 pb-2"> <a href="">A Closer Look At Our Front Porch Items From Lowe’s</a></p>
                            <div class="">
                                <a href="" class="px-2">  <span class="fa fa-eye">  </span> 50</a>
                                <a href="" class="px-2"><span class="fa fa-thumbs-o-up">  </span> 60</a>
                                 <a href="" class="px-2">  <span class="fa fa-comments-o">  </span> 30</a>
                            </div>
                        </div>
                        <div class="hr-bottom" ></div>
                    </div>
                </div>

                <div class="news-leftbox">
                    <div class="row d-flex align-items-center py-2    "  >
                        <div class="col-3 pr-0">
                            <img src="assets/images/Img/2a.png" class="img-fluid" alt="">
                        </div>
                        <div class="col-9 text-left">
                            <p class="h6 m-0 pb-2"> <a href="">A Closer Look At Our Front Porch Items From Lowe’s</a></p>
                            <div class="">
                                <a href="" class="px-2">  <span class="fa fa-eye">  </span> 50</a>
                                <a href="" class="px-2"><span class="fa fa-thumbs-o-up">  </span> 60</a>
                                 <a href="" class="px-2">  <span class="fa fa-comments-o">  </span> 30</a>
                            </div>
                        </div>
                        <div class="hr-bottom" ></div>
                    </div>
                </div>
                <div class="news-leftbox">
                    <div class="row d-flex align-items-center py-2    "  >
                        <div class="col-3 pr-0">
                            <img src="assets/images/Img/2a.png" class="img-fluid" alt="">
                        </div>
                        <div class="col-9 text-left">
                            <p class="h6 m-0 pb-2"> <a href="">A Closer Look At Our Front Porch Items From Lowe’s</a></p>
                            <div class="">
                                <a href="" class="px-2">  <span class="fa fa-eye">  </span> 50</a>
                                <a href="" class="px-2"><span class="fa fa-thumbs-o-up">  </span> 60</a>
                                 <a href="" class="px-2">  <span class="fa fa-comments-o">  </span> 30</a>
                            </div>
                        </div>
                        <div class="hr-bottom" ></div>
                    </div>
                </div>
                <div class="news-leftbox">
                    <div class="row d-flex align-items-center py-2    "  >
                        <div class="col-3 pr-0">
                            <img src="assets/images/Img/2a.png" class="img-fluid" alt="">
                        </div>
                        <div class="col-9 text-left">
                            <p class="h6 m-0 pb-2"> <a href="">A Closer Look At Our Front Porch Items From Lowe’s</a></p>
                            <div class="">
                                <a href="" class="px-2">  <span class="fa fa-eye">  </span> 50</a>
                                <a href="" class="px-2"><span class="fa fa-thumbs-o-up">  </span> 60</a>
                                 <a href="" class="px-2">  <span class="fa fa-comments-o">  </span> 30</a>
                            </div>
                        </div>
                        <div class="hr-bottom" ></div>
                    </div>
                </div>
                <div class="news-leftbox">
                    <div class="row d-flex align-items-center py-2    "  >
                        <div class="col-3 pr-0">
                            <img src="assets/images/Img/2a.png" class="img-fluid" alt="">
                        </div>
                        <div class="col-9 text-left">
                            <p class="h6 m-0 pb-2"> <a href="">A Closer Look At Our Front Porch Items From Lowe’s</a></p>
                            <div class="">
                                <a href="" class="px-2">  <span class="fa fa-eye">  </span> 50</a>
                                <a href="" class="px-2"><span class="fa fa-thumbs-o-up">  </span> 60</a>
                                 <a href="" class="px-2">  <span class="fa fa-comments-o">  </span> 30</a>
                            </div>
                        </div>
                        <div class="hr-bottom" ></div>
                    </div>
                </div>
                <div class="news-leftbox">
                    <div class="row d-flex align-items-center py-2    "  >
                        <div class="col-3 pr-0">
                            <img src="assets/images/Img/2a.png" class="img-fluid" alt="">
                        </div>
                        <div class="col-9 text-left">
                            <p class="h6 m-0 pb-2"> <a href="">A Closer Look At Our Front Porch Items From Lowe’s</a></p>
                            <div class="">
                                <a href="" class="px-2">  <span class="fa fa-eye">  </span> 50</a>
                                <a href="" class="px-2"><span class="fa fa-thumbs-o-up">  </span> 60</a>
                                 <a href="" class="px-2">  <span class="fa fa-comments-o">  </span> 30</a>
                            </div>
                        </div>
                        <div class="hr-bottom" ></div>
                    </div>
                </div>
                <div class="news-leftbox">
                    <div class="row d-flex align-items-center py-2    "  >
                        <div class="col-3 pr-0">
                            <img src="assets/images/Img/2a.png" class="img-fluid" alt="">
                        </div>
                        <div class="col-9 text-left">
                            <p class="h6 m-0 pb-2"> <a href="">A Closer Look At Our Front Porch Items From Lowe’s</a></p>
                            <div class="">
                                <a href="" class="px-2">  <span class="fa fa-eye">  </span> 50</a>
                                <a href="" class="px-2"><span class="fa fa-thumbs-o-up">  </span> 60</a>
                                 <a href="" class="px-2">  <span class="fa fa-comments-o">  </span> 30</a>
                            </div>
                        </div>
                        <div class="hr-bottom" ></div>
                    </div>
                </div>
                <div class="news-leftbox">
                    <div class="row d-flex align-items-center py-2    "  >
                        <div class="col-3 pr-0">
                            <img src="assets/images/Img/2a.png" class="img-fluid" alt="">
                        </div>
                        <div class="col-9 text-left">
                            <p class="h6 m-0 pb-2"> <a href="">A Closer Look At Our Front Porch Items From Lowe’s</a></p>
                            <div class="">
                                <a href="" class="px-2">  <span class="fa fa-eye">  </span> 50</a>
                                <a href="" class="px-2"><span class="fa fa-thumbs-o-up">  </span> 60</a>
                                 <a href="" class="px-2">  <span class="fa fa-comments-o">  </span> 30</a>
                            </div>
                        </div>
                        <div class="hr-bottom" ></div>
                    </div>
                </div>
             </div>
        </div>

    </div>
 </section>
