<!-- wrapper_information -->
<section class="wrapper_trust    descript">
    <div class="rgb1 wrapper">
        <div class="container-fluid   px-lg-5">
            <div class="row d-flex justify-content-center   px-lg-3  ">	  
                <div class="col-md-10 wrapper_about text-center">	
                    <h2 class="wrapper_about_teme"><span class="border_blue"  ></span>  Обратная связ  <span class="border_blue" ></span></h2>
                    <p class="wrapper_about_text">	It is a long established fact that a reader will be distracted by the <br>readable content of a page when looking at its layout.  </p>			
                </div> 
                <div class="col-lg-6 col-md-6 col-sm-12 " style="padding-top: 50px;">
                    <form>
                        <input type="text" name="text" placeholder="F.I.O">
                        <input type="text" name="text" placeholder="Telefon">
                        <textarea placeholder="Enter message"></textarea>
                        <button class="btn ">Send</button>
                    </form>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 dispaly_none"><img src="assets/images/Img/operator.png"></div>
            </div>
        </div>
    </div>
</section>
<!-- wrapper_information --> 