<section class="wrapper_news wrapper  "  >
    <div class="container-fluid px-lg-5">
        <div class="row d-flex justify-content-center   px-lg-3  ">

            <!-- <div class="col-md-4 " *ngFor = 'let video of news'   >
                <div class="  bottom15 ">
                    <iframe id="video"  style="min-height: 220px;"   class="w-100" src="{{video.url}}" frameborder="0" allowfullscreen></iframe>
                </div>
            </div> -->

        <div class="col-md-4 "  >
                <div class="  bottom15 ">
                    <iframe id="video"  style="min-height: 220px;"   class="w-100" src="https://www.youtube.com/embed/MtaoWM_y980" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-4 "  >
                <div class="  bottom15 ">
                    <iframe id="video"  style="min-height: 220px;"   class="w-100" src="https://www.youtube.com/embed/MtaoWM_y980" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-md-4 "  >
                <div class="  bottom15 ">
                    <iframe id="video"  style="min-height: 220px;"   class="w-100" src="https://www.youtube.com/embed/MtaoWM_y980" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-4 "  >
                <div class="  bottom15 ">
                    <iframe id="video"  style="min-height: 220px;"   class="w-100" src="https://www.youtube.com/embed/MtaoWM_y980" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-4 "  >
                <div class="  bottom15 ">
                    <iframe id="video"  style="min-height: 220px;"   class="w-100" src="https://www.youtube.com/embed/MtaoWM_y980" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-4 "  >
                <div class="  bottom15 ">
                    <iframe id="video"  style="min-height: 220px;"   class="w-100" src="https://www.youtube.com/embed/MtaoWM_y980" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-4 "  >
                <div class="  bottom15 ">
                    <iframe id="video"  style="min-height: 220px;"   class="w-100" src="https://www.youtube.com/embed/MtaoWM_y980" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-4 "  >
                <div class="  bottom15 ">
                    <iframe id="video"  style="min-height: 220px;"   class="w-100" src="https://www.youtube.com/embed/MtaoWM_y980" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
