
<section class="service-wrappera">
    <div class="service-offer">
        <div class="container-fluid px-lg-5">
            <div class="row d-flex align-items-center pl-3 ">
                <div class="col-lg-3 col-sm-6 mb-3">
                    <a routerLink="/payment-delivery" class="row">
                        <div class="col-4">
                            <img src="assets/img/truck.png" class="img-fluid" alt="">
                        </div>
                        <div class="col-8">
                            <p  class="d-inline-block">УДОБНАЯ И БЫСТРАЯ  ДОСТАВКА</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 mb-3">
                    <a routerLink="/convenient-payment" class="row">
                        <div class="col-4">
                            <img src="assets/img/wallet.png" class="img-fluid" alt="">
                        </div>
                        <div class="col-8">
                            <p  class="d-inline-block">УДОБНАЯ И БЫСТРАЯ  ДОСТАВКА</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 mb-3  " data-toggle="modal" data-target="#exampleModalphonea" >
                    <a   class="row">
                        <div class="col-4">
                            <img src="assets/img/support.png" class="img-fluid" alt="">
                        </div>
                        <div class="col-8">
                            <p  class="d-inline-block">УДОБНАЯ И БЫСТРАЯ  ДОСТАВКА</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 mb-3" >
                    <a routerLink="/help" class="row">
                        <div class="col-4">
                            <img src="assets/img/like.png" class="img-fluid" alt="">
                        </div>
                        <div class="col-8">
                            <p  class="d-inline-block">УДОБНАЯ И БЫСТРАЯ  ДОСТАВКА</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
     <!-- end -->
     <div class="service-offer-pay">
        <div class="container-fluid px-lg-5">
            <div class="row d-flex align-items-center py-3  ">
                <div class="col-2">
                    <div class="oplata-service oplata-pay-border" >
                        <div>МЫ   ПРИНИМАЕМ:</div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="oplata-service"  >
                        <img src="assets/img/click.png" class="img-fluid" alt="">
                    </div>
                </div>
 
                <div class="col-2">
                    <div class="oplata-service">
                        <img src="assets/img/click.png" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-2">
                    <div class="oplata-service">
                        <img src="assets/img/click.png" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-2">
                    <div class="oplata-service">
                        <img src="assets/img/click.png" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-2">
                    <div class="oplata-service">
                        <img src="assets/img/click.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container-fluid px-5">
        <div class="row">
            <div class="col-lg-3  col-sm-6 ">
                <div class="footer-box">
                    <!-- <img src="assets/img/logoa.png" class="w-75" alt=""> -->
                    <p>ЕСТЬ ВОПРОСЫ? ЗВОНИТЕ!</p>
                    <h5 class="font-weight-bold py-3">+998 (91) 791-11-22</h5>
                    <button >Оставить отзыв</button>
                </div>
            </div>

            <div class="col-lg-3  col-sm-6 ">
                <div class="footer-box"> 
                    <p>О компании</p>
                    <p>Политика 
                        конфиденциальности</p>
                        <p>Оферта</p>
                        <p>Eco-friendly</p>
                </div>
            </div>

            <div class="col-lg-3  col-sm-6 ">
                <div class="footer-box"> 
                    <p>Вакансии</p>
                    <p>Оплата и доставка</p>
                    <p>Обмен и возврат</p>
                    <p>Бонусная программа</p>
                </div>
            </div>

            <div class="col-lg-3  col-sm-6 ">
                <div class="footer-box"> 
                    <p>Получайте информацию о скидках, акциях и интересных предложениях.</p>
                    <form>
                        <div class="form-group"> 
                          <input type="email" class="form-control" placeholder="Email address" id="exampleInputEmail1" aria-describedby="emailHelp">
                           </div> 
                      </form>
                    <button class="w-100">Оставить отзыв</button>
                </div>
            </div> 
            <div class="col-12 pt-4">
                <div class="footer-bottom">

                </div>
            </div>
        </div>
    </div>
</footer>