 
   <!-- <div data-wow-delay=".25s" class="wow fadeInRight wHighlight"  >fadeInRighta</div> -->
   
   <div id="myCarousel" class="carousel slide mb-0" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item carousel-item-image active">
            <div class="third-slide"></div>
            <!-- <img class="first-slide" src="assets/images/custom – 3.png" alt="First slide"> -->
            <div class="container">
                <div class="carousel-caption d-none d-md-block text-left">
                  <h1 data-wow-delay=".35s" class="wow fadeInDown wHighlight">Welcome to the Mercedes-Benz international website.</h1>
                  <p data-wow-delay=".35s" class="wow fadeInRight wHighlight">Exclusive reports and current films: experience a broad range of topics from the fascinating world of Mercedes-Benz. To find out about offers in your location, please go to the local Mercedes-Benz website.</p>
                  <p class="wow fadeInUp wHighlight" data-wow-delay=".35s"  ><a class="btn btn-lg btn-primary" href="#" role="button">Bring me to my local website</a></p>
                </div>
              </div>
          </div>
 
          <div class="carousel-item carousel-item-imageb">
              <div class="third-slide"></div>
            <!-- <img class="third-slide" src="assets/images/custom – 2.png" alt="Third slide"> -->
            <div class="container">
                <div class="carousel-caption d-none d-md-block text-left">
                  <h1 data-wow-delay=".35s" class="wow fadeInDown wHighlight">Welcome to the Mercedes-Benz international website.</h1>
                  <p data-wow-delay=".35s" class="wow fadeInLeft wHighlight">Exclusive reports and current films: experience a broad range of topics from the fascinating world of Mercedes-Benz. To find out about offers in your location, please go to the local Mercedes-Benz website.</p>
                  <p class="wow fadeInUp wHighlight" data-wow-delay=".35s" ><a class="btn btn-lg btn-primary" href="#" role="button">Bring me to my local website</a></p>
                </div>
              </div>
          </div>
          <div class="carousel-item carousel-item-imagea">
            <div class="third-slide"></div>
            <!-- <img class="second-slide" src="assets/images/custom – 1.png" alt="Second slide"> -->
            <div class="container">
                <div class="carousel-caption d-none d-md-block text-left">
                  <h1 data-wow-delay=".35s" class="wow fadeInDown wHighlight">Welcome to the Mercedes-Benz international website.</h1>
                  <p data-wow-delay=".35s" class="wow fadeInRight wHighlight">Exclusive reports and current films: experience a broad range of topics from the fascinating world of Mercedes-Benz. To find out about offers in your location, please go to the local Mercedes-Benz website.</p>
                  <p class="wow fadeInUp wHighlight" data-wow-delay=".35s" ><a class="btn btn-lg btn-primary" href="#" role="button">Bring me to my local website</a></p>
                </div>
              </div>
          </div>
 

        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
  
<app-about> </app-about>

<app-magazin></app-magazin>

<app-gallery></app-gallery>
 
<!-- <app-call-back></app-call-back> -->
<!-- <app-news></app-news> -->
