<div class="row">
  <div class="col-lg-1">
  </div>


  <div class="col-lg-10">
    <mat-spinner *ngIf="!isLoad"></mat-spinner>
    <form [formGroup]='form' (submit)="onSave()" *ngIf="isLoad">
      <div class="row">

        <div class="col-lg-6">
          <mat-form-field appearance="outline">
            <mat-label>Name UZ</mat-label>
            <input matInput placeholder="Placeholder" formControlName="name_uz">
          </mat-form-field>
        </div>

        <div class="col-lg-6">
          <mat-form-field appearance="outline">
            <mat-label>Name Ru</mat-label>
            <input matInput placeholder="Name" formControlName="name_ru">
          </mat-form-field>
        </div>

        <div class="col-lg-6">
          <mat-form-field>
            <mat-label>State</mat-label>
            <mat-select formControlName="category_id">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let category of categories" [value]="category">{{category.name_ru}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- <div class="col-lg-6">
          <mat-form-field>
            <mat-label>State</mat-label>
            <mat-select formControlName="category_id">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let category of categories" [value]="category.name_uz">{{category.name_uz}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div> -->

        <br><br>
        <button type="submit" [disabled]="!form.valid" mat-flat-button color="primary">Add</button>

      </div>
    </form>


  </div>

  <div class="col-lg-1">
  </div>

</div>
