<section class=" history_wrap wrapper w-100">
    <div class="container-fluid px-lg-5">
        <div class="row px-lg-3  justify-content-center d-flex align-items-center">

            <div class="col-lg-10 wrapper_about text-center wow fadeInUp" data-wow-delay="300ms"
            style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;">

            <h2 class="catalog_about_teme px-lg-4"> Мир Mercedes-Benz <span class="border_bottom"></span></h2>

            <p class="catalog_about_text  ">Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда
                приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не
            напоминают латынь.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h3 class="text-info font-weight-bold">История</h3>
            <p class="pb-3">Познакомьтесь со звездними часами истории автомобиля</p>
            <img src="assets/images/Img/stageelement_7f80.MQ6.0.20170808202014.png" class="img-fluid"/>
            <div class="btn-group  mt-4">
                <button class="btn btn-info mr-5 px-5 rounded py-2">История компании</button>
                <button class="btn btn-outline-info rounded px-4 py-2">История коммерческих автомобилей</button>
            </div>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-md-7">
            <p class="fontSize">1881 - Готлиб Даймлер посещает Москву и Санкт-Петербург</p>
            <br>
            <p class="fontSize">1890 - Основание компании Daimler-Motoren-Gesellschaft и начало поставок стационарных моторов и судовых двигателей в Россию.</p>
            <br>
            <p class="fontSize">1894 - Появление в России первого автомобиля Benz мощностью 1,5 л.с. с двумя посадочными местами.</p>
        </div>
        <div class="col-md-5">
            <img src="assets/images/Img/Group371.png" class="img-fluid"/>
        </div>
    </div>

    <div class="text-center">
        <button type="button" class="btn btn-info px-5 py-2 py-1">Показать болшее информатции</button>
    </div>

    <div class="row py-5 px-3">
        <div class="col-md-4  ">
            <p class="fontSize justify-content-between text-dark pb-2 m-0">Актуальные новости и мероприятия</p>
            <div class="card overflow-hidden">
                <img src="assets/images/Img/image.MQ6.6.20170808202356(2).png" class="img-fluid"/>
                <div class="card-img-overlay d-flex align-items-center">
                    <h4 class="text-white justify-content-center ml-5">Больше информации</h4>
                </div>
            </div>
            <h4 class="text-dark pt-2">Обзор новостей от <br> << Мерседес-Бенц >></h4>
        </div>
        <div class="col-md-4 pl-5">
            <p class="fontSize text-dark pb-2 m-0">Дизайн</p>
            <div class="card overflow-hidden">
                <img src="assets/images/Img/image.MQ6.6.20170808202356.png" class="img-fluid"/>
                <div class="card-img-overlay d-flex align-items-center">
                    <h4 class="text-white ml-5">Больше информации</h4>
                </div>
            </div>

            <h4 class="text-dark  pt-2">Мы создаем язык форм автомобилей будушего</h4>
        </div>
        <div class="col-md-4 pl-5">
            <p class="fontSize text-dark pb-2 m-0">Инновации</p>
            <div class="card overflow-hidden">
                <img src="assets/images/Img/image.MQ6.6.20170808202356(1).png" class="img-fluid"/>
                <div class="card-img-overlay d-flex align-items-center">
                    <h4 class="text-white ml-5">Больше информации</h4>
                </div>
            </div>

            <h4 class="text-dark  pt-2">Для езды без авариии вредных выброов</h4>
        </div>
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-info px-3 py-1">Показать болшее информатции</button>
    </div>
    <div class="text-center my-5">
        <h3 class="text-dark"><< Мерседес-Бенц >> в социальных сетях.</h3>
    </div>

    <div class="row">
        <div class="col-md-7">
            <a href="#" class="text-info"><span fa fa-facebook class="mr-3"></span> Mercedec-Benz Philippines</a>
            <div class="card overflow-hidden   my-1" style="min-height: 200px;max-height: 380px;overflow: hidden;">
                <img   src="assets/images/Img/84687795_3149604568403360_4464516464358981632_o.png" class="img-fluid"/>
                <div class="card-img-overlay2 d-flex align-items-end">
                    <h4 class="text-white d-block w-75"><span
                        class="text-white font-weight-bold">January 27, 2020</span>
                        <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, architecto doloremque enim
                    excepturi laborum?</h4>
                </div>
            </div>
            <a href="#" class="text-info"><span fa fa-twitter class="mr-3"></span> Twitter-Porsche</a>
            <div class="card overflow-hidden mt-1"  style="min-height: 200px;max-height: 380px;overflow: hidden;">
                <img src="assets/images/Img/83675872_10158456241477668_7705895529229582336_n.png" class="img-fluid"/>
                <div class="card-img-overlay2 d-flex align-items-end">
                    <h4 class="text-white d-block w-75"><span
                        class="text-white font-weight-bold">January 27, 2020</span>
                        <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores perspiciatis quasi
                        quidem unde. Accusantium amet distinctio id magnam quidem quos, reiciendis sapiente sunt
                    tempora vero!</h4>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <a href="#" class="text-info"><span fa fa-instagram class="mr-3"></span> Mercedec-Benz Philippines</a>
            <div class="card overflow-hidden my-1" style="min-height: 200px;max-height: 550px;overflow: hidden;">
                <img src="assets/images/Img/84341208_2641742502540357_2156066066399232000_o.png" class="img-fluid"/>
                <div class="card-img-overlay2 d-flex align-items-end">
                    <h4 class="text-white d-block w-100"><span
                        class="text-white font-weight-bold">January 27, 2020</span>
                        <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, architecto doloremque enim
                    excepturi laborum?</h4>
                </div>
            </div>
            <a href="#" class="text-info"><span fa fa-facebook class="mr-3"></span> Mercedec-Benz Philippines</a>
            <div class="card overflow-hidden mt-1" style="min-height: 80px;max-height: 190px;overflow: hidden;">
                <img src="assets/images/Img/Intersection 5.png" class="img-fluid"/>
                <div class="card-img-overlay2 d-flex align-items-end">
                    <h4 class="text-white d-block w-100">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Ad, architecto doloremque enim excepturi laborum?</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="    mt-4">
                <iframe id="video"  style="min-height: 400px;"   class="w-100" src="https://www.youtube.com/embed/SrUiFHN_huI" frameborder="0" allowfullscreen></iframe>
                
            </div>

        </div>
    </div>

</div>
</section>