 	<!-- about us -->
 	<section class="wrapper_about_us wrapper ">
        <div class="container-fluid px-lg-5">	
            <div class="row px-3 justify-content-center d-flex align-items-center">	
                <div class="col-lg-10 wrapper_about text-center  "    >
                    <h2 class="wrapper_about_teme"><span class="border_blue"  ></span>О компании HERCULES <span class="border_blue" ></span></h2>
                    <p class="wrapper_about_text pb-3 ">	It is a long established fact that a reader will be   distracted  by the readable content of <br> a page when looking at its layout. The point of using Lorem   </p>			
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp wHighlight" data-wow-delay=".5s"  >
                    <a routerLink="/motor">
                        <div class="about-us-box row d-flex   align-items-center">
                            <div class="about-box-icon col-4">
                                <img src="assets/images/product/product-1.svg" class="img-fluid" alt="">
                            </div>
                            <div class="about-box-text col-8">
                                <h5 class="text-info font-weight-bold">ХОДО ЧАСТЬ</h5>
                                <p>Выберите товар в каталоге или 
                                    </p>
                            </div>
                        </div>
                    </a>
 
                </div> <!-- col-3 -->				
                <div class="col-lg-3 col-sm-6 wow fadeInUp wHighlight" data-wow-delay=".6s" >
                    <a routerLink="/chassis">
                        <div class="about-us-box row d-flex   align-items-center">
                            <div class="about-box-icon col-4">
                                <img src="assets/images/product/producta.svg" class="img-fluid" alt="">
                            </div>
                            <div class="about-box-text col-8">
                                <h5 class="text-info font-weight-bold">МОТОРНАЯ ЧАСТЬ</h5>
                                <p>Выберите товар в каталоге или 
                                    </p>
                            </div>
                        </div>
                    </a>
 
                </div> <!-- col-3 -->				
                <div class="col-lg-3 col-sm-6 wow fadeInUp wHighlight" data-wow-delay=".7s" >
                    <a routerLink="/accessuary">
                        <div class="about-us-box row d-flex   align-items-center">
                            <div class="about-box-icon col-4">
                                <img src="assets/images/product/product-2.svg" class="img-fluid" alt="">
                            </div>
                            <div class="about-box-text col-8">
                                <h5 class="text-info font-weight-bold">АКСЕССУАРЫ</h5>
                                <p>Выберите товар в каталоге или 
                                    </p>
                            </div>
                        </div>
                    </a>
 
                </div> <!-- col-3 -->			
                <div class="col-lg-3 col-sm-6 wow fadeInUp wHighlight" data-wow-delay=".8s" >
                    <a routerLink="/engine_oil">
                        <div class="about-us-box row d-flex   align-items-center">
                            <div class="about-box-icon col-4">
                                <img src="assets/images/product/product-3.svg" class="img-fluid" alt="">
                            </div>
                            <div class="about-box-text col-8">
                                <h5 class="text-info font-weight-bold">ВСЕ ВИДЫ МАСЕЛ</h5>
                                <p>Выберите товар в каталоге или 
                                    </p>
                            </div>
                        </div>
                    </a>
 
                </div> <!-- col-3 -->



            </div>
        </div>
    </section>
    <!-- about us end -->